/* LA CONFERENCIA */
.principal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/ba1.jpg);
    background-size: cover;
    height: 100vh;
}
.header {
    position: fixed;
    z-index: 1;
    width: 100%;
}
.header>.navbar {
    padding: 0 4% !important;
}
.navbar a {
    color: white;
}
.collapse a {
    color: grey;
    font-size: 14px;
}
.collapse {
    flex-grow: 0 !important;
}
.contenido-conferencia {
    color: white;
    text-align: right;
    position: absolute;
    top: 40%;
    right: 5%;
    width: 50%;
}
.boton {
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}
.btn1 {
    background-color: transparent;
    border: 1px solid white;
}
.btn2 {
    background-color: rgb(30, 153, 30);
    border: none;
}
@media screen and (max-width: 576px) {
    .contenido-conferencia {
        width: 90%;
    }
}

/* LOS ORADORES */
.contenido-tarjetas {
    padding-top: 15px;
    padding-bottom: 30px;
}
.titulos-tarjetas h2 {
    text-align: center;
    font-weight: 600;
}
.titulos-tarjetas p {
    text-align: center;
    font-size: 12px;
    margin: 0;
}
.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta {
    width: 100%;
    margin: 0 10px;
    border: 1px solid rgb(211, 208, 208);
    border-radius: 5px;
}
.imagen_tarjeta {
    width: 100%;
    height: 55%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.caja-tarjeta {
    padding: 20px;
    padding-bottom: 0;
}

.titulo_tarjeta {
    font-weight: 600;
}
.parrafo_tarjeta {
    font-weight: 100;
}

.boton-js {
    background-color:  #ffd43b;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 5px;
}
.boton-react {
    background-color:  #34bcdf;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 5px;
}
.boton-negocios {
    background-color:  gray;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 5px;
}
.boton-startups {
    background-color:  red;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 5px;
}

/* LUGAR Y FECHA */
.tercera {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.tercera-img {
    width: 100%;
}
.tercera-imagen {
    width: 100%;
    border: 1px solid rgb(211, 208, 208);
}
.tercera-texto {
    width: 100%;
    background: #353a40;
    color: white;
    padding: 10px;
    border: 1px solid rgb(211, 208, 208);
}
.tercera-texto h3 {
    font-weight: 600;
}
.tercera-texto p {
    font-size: 15px;
}

@media screen and (max-width: 870px) {
    .tercera {
        display: block;
    }
}

/* CONVIERTETE */
.cuarta {
    margin: auto;
    padding: 20px 25%;
}
.cuarta p {
    text-align: center;
}
.btn-cuarta {
    width: 100%;
    color:white;
    background-color:  #81c53d;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
@media screen and (max-width: 768px) {
    .campos {
        display: block !important;
    }
    .campo {
        margin: 3px 0 !important;
    }
}

/* TICKETS */
.tickets {
    margin: auto;
    padding: 100px 25%;
}
.tickets .card {
    border-radius: 0px;
}
.descuentos {
    text-align: center;
}
.descuento {
    margin: 0 5px;
}
.tickets .card-body h6 {
    margin: 20px 0;
}
.requisito {
    font-size: 12px;
    margin: 0;
}
.titulos_tickets {
    text-align: center;
}
.titulos_tickets h6{
    font-weight: 200;
    margin-top: 10px;
}
.total {
    display: flex;
    background: #b1defc;
    color: #2788c9;
    padding: 10px;
    margin: 30px 0;
    border-radius: 5px;
}

/* FOOTER */
.footer {
    background-color: #224a62;
    padding: 20px 0;
}
.lista-footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.lista-footer li {
    width: 10%;
    text-align: center;
}
.lista-footer a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 900px) {
    .lista-footer {
        display: block;
        width: 100%;
        font-size: 12px;
    }
    .lista-footer li {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }
}
